accelerate
appdirs
bitsandbytes
black
black[jupyter]
datasets
fire
peft==0.2.0
#git+https://github.com/huggingface/peft.git
#git+https://github.com/huggingface/transformers.git
gradio
sentencepiece
scipy
python-multipart>=0.0.22 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
